/* =================== original=============
.about-me {
    display:flex;
    grid-template-columns:repeat(2,2fr) ;
    justify-content:center;
    gap:5rem;
    align-items:center;
    padding: 0 40px 0 40px;
    height: 70vh;
    background: linear-gradient(rgba(5, 7, 12 , 0.85), rgba(5, 7, 12 , 0.85)),
    url(./img/background-about-me.png) no-repeat center center fixed;
    background-size: cover;
    min-width: 100%;
}
*/
.about-me {
    display:flex;
    justify-content:center;
    align-items: center;
    height: 70vh;
    background: linear-gradient(rgba(5, 7, 12 , 0.85), rgba(5, 7, 12 , 0.85)),
    url(./img/background-about-me.png) no-repeat center center fixed;
    background-size: cover;
    min-width: 100%;
    position: relative;

}
/*
    
.about-me-img img{
    max-width: 100%;
    width:580px;
    height: 580px;
    object-fit: cover;
    border-radius: 50px;
}*/

.about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me-text h3{
    display:flex;
    justify-content:center;
    align-self: center;
    position: absolute;
    top: 0;
    width:250px;
    text-align:center;
    font-size:1.8rem;
    font-weight:800;
    letter-spacing: 5px;
    margin: 80px auto  ;
    padding:3px 4px;
    background-color: var(--background-color);
    color: var(--font-color);
    border-radius: 8px;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    
}

.about-me-text p {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.1rem;
    font-weight: 500;
    max-width: 30rem;
    height:10rem;
    padding:20px;
    background:var(--background-color);
    border-radius:8px;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    
}


.about-me-text p{
    margin-top:15px
}



@media screen and (max-width: 768px) {
    .about-me-text h3{
        font-size:1.3rem;
        margin: 90px auto  ;
        
    }
    .about-me-text p{
        font-size:.9rem;
        height:60%;
        width:90%;
    }
}















/*================= 4K=================*/



@media (min-width:1900px){

    .about-me-img img{
        width: 900px;
        height: 900px;

    }
    
    .about-me-text h3 {
        font-size: 3rem;
        width:550px;

    }
    .about-me-text p {
        font-size: 2rem;
        height:300px;
        max-width: 700px ;
    }

}